<div class="container">
  <button class="switch" (click)="switch('off')">Off</button>
  <button class="switch" (click)="switch('right')">Right</button>
  <button class="switch" (click)="switch('bottom')">Bottom</button>
  <button class="switch" (click)="switch('left')">Left</button>
</div>
<div
  class="details-panel"
  [@expand]="{ value: currentAnimation, params: { size: animationParams } }"
  (@expand.start)="onAnimationStart($event)"
  (@expand.done)="onAnimationDone($event)"
  [ngStyle]="{
    width: animatedSideBarWidth,
    height: animatedSideBarHeight,
    top: sideBarTop,
    bottom: sideBarBottom,
    right: sideBarRight,
    left: sideBarLeft
  }"
>
  <div class="content"></div>
</div>
